.new_post_block {
    width: 95%;
    margin: 0 auto;
    display: flex;
    height: 70px;
    margin-top: 20px;
}
.new_post_block textarea.post_textarea {
    width: 100%;
    height: inherit;
    resize: none;
}
.new_post_block button.post_post_btn {
    cursor: pointer;
    height: 100%;
}