* {
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

textarea,
button {
    outline: none;
    border: none;
}

.app_wrapper {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;

    grid-template-areas: "header header" "nav cont";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app_content_wrapper {
    grid-area: cont;
    background-color: hotpink;
}